Repository daeyeon-lee/Cinemoa: changes, and which Jenkins stages are due for each by the changed paths.
All: Build BE, Deploy BE with Compose, Build FE, Deploy FE with Compose, No relevant changes on main

Build BE:
        steps {
          echo 'backend/** 변경 감지: 백엔드 Docker 빌드를 시작합니다.'
          script {
            withCredentials([
              file(credentialsId: 'application', variable: 'APPLICATION'),
              file(credentialsId: 'application-db', variable: 'APPLICATION_DB'),
  ...

Deploy BE with Compose:
        steps {
          script {
            sh 'docker compose -f /var/scripts/backend.yml up -d'
          }
        }
        post {
          failure {
            echo 'BE 배포 스테이지 실패: Compose 실행에 문제가 발생했습니다.'
          }
        }
      

Build FE:
        steps {
          echo 'frontend/** 변경 감지: 프론트엔드 Docker 빌드를 시작합니다.'
          script {
            withCredentials([
              file(credentialsId: 'ssl-private-key', variable: 'SSL_PRIVATE_KEY'),
              file(credentialsId: 'ssl-full-chain', variable: 'SSL_FULL_CHAIN'),
  ...

Deploy FE with Compose:
        steps {
          script {
            sh 'docker compose -f /var/scripts/frontend.yml up -d'
          }
        }
        post {
          failure {
            echo 'FE 배포 스테이지 실패: Compose 실행에 문제가 발생했습니다.'
          }
        }
      

No relevant changes on main:
        steps {
          echo 'frontend/** 또는 backend/** 변경이 없어 모든 빌드/배포 단계를 건너뜁니다.'
        }
      

feat: 펀딩 생성 로직 수정
  backend/src/main/java/io/ssafy/cinemoa/cinema/repository/ScreenUnavailableTImeBatchRepository.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/repository/entity/ScreenUnavailableTime.java
  backend/src/main/java/io/ssafy/cinemoa/funding/service/FundingService.java
Due: Build BE, Deploy BE with Compose

feat: 펀딩 참여 로직에 검증 2개 추가 - 펀딩 참여자 수 검증 (최대 인원 초과 여부 확인) - 중복 참여 검증 (이미 참여한 사용자인지 확인)
  backend/src/main/java/io/ssafy/cinemoa/payment/controller/PaymentController.java
  backend/src/main/java/io/ssafy/cinemoa/payment/service/PaymentService.java
Due: Build BE, Deploy BE with Compose

feat: 마이페이지 개발 초안
  frontend/src/app/mypage/MyPage.tsx
  frontend/src/app/mypage/page.tsx
  frontend/src/components/cards/CineCardVertical.tsx
Due: Build FE, Deploy FE with Compose

refactor: finance util로 요청, 응답 처리 및 내부 코드로 예외 처리 완료
  backend/src/main/java/io/ssafy/cinemoa/external/finance/Client/AccountVerifyApiClient.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/Client/WonAuthApiClient.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/AccountVerifyResponse.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/TransactionHistoryResponse.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/WonSendResponse.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/WonVerifyRequest.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/WonVerifyResponse.java
  backend/src/main/java/io/ssafy/cinemoa/global/enums/PaymentErrorCode.java
  backend/src/main/java/io/ssafy/cinemoa/global/enums/ResourceCode.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/BadRequestException.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/InternalServerException.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/ResourceNotFoundException.java
  backend/src/main/java/io/ssafy/cinemoa/user/service/WonAuthService.java
Due: Build BE, Deploy BE with Compose

feat : 영화관 상세 정보 API 연동
  frontend/src/api/cinema.ts
  frontend/src/api/hooks/useCinemaQueries.ts
  frontend/src/app/create/category/Category.tsx
  frontend/src/app/create/category/page.tsx
  frontend/src/app/create/funding/components/TheaterInfoTab.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/mappers/dateMapper.ts
  frontend/src/mappers/timeMapper.ts
  frontend/src/plugins/tmdb.ts
  frontend/src/providers/QueryProvider.tsx
  frontend/src/services/api/fundings.ts
  frontend/src/types/cinema.ts
Due: Build FE, Deploy FE with Compose

chore: .gitignore 루트에 추가
  .gitignore
Due: No relevant changes on main

chore: gitignore 백엔드에 추가
  backend/.gitignore
Due: Build BE, Deploy BE with Compose

fix: java 컨벤션에 맞는 변수명으로 수정
  backend/src/main/java/io/ssafy/cinemoa/external/finance/Client/AccountVerifyApiClient.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/Client/WonAuthApiClient.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/BaseApiResponse.java
  backend/src/main/java/io/ssafy/cinemoa/funding/event/FundingRankingIncrementEvent.java
Due: Build BE, Deploy BE with Compose

refactor: 1원 인증 리팩토링
  backend/src/main/java/io/ssafy/cinemoa/CinemoaApplication.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/Client/AccountVerifyApiClient.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/Client/WonAuthApiClient.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/BadRequestException.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/Drafttttttttt.java
  backend/src/main/java/io/ssafy/cinemoa/global/service/MailSenderService.java
  backend/src/main/java/io/ssafy/cinemoa/user/controller/WonAuthController.java
  backend/src/main/java/io/ssafy/cinemoa/user/service/WonAuthService.java
Due: Build BE, Deploy BE with Compose

feat : 영화관 정보 페이지 API 연동
  frontend/src/api/hooks/useCinemaQueries.ts
  frontend/src/app/create/funding/components/TheaterInfoTab.tsx
Due: Build FE, Deploy FE with Compose

feat: 홈의 카테고리버튼 수정 완료
  frontend/src/app/home/Home.tsx
Due: Build FE, Deploy FE with Compose

feat : 상영회 등록 api 연동
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/funding.ts
  frontend/src/api/tmdb.ts
  frontend/src/app/create/funding/components/FundingInfoTab.tsx
  frontend/src/app/create/funding/components/MovieInfoTab.tsx
  frontend/src/app/create/funding/components/PaymentTab.tsx
  frontend/src/app/create/funding/components/TheaterInfoTab.tsx
  frontend/src/app/create/funding/page.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/stores/fundingStore.ts
  frontend/src/types/funding.ts
Due: Build FE, Deploy FE with Compose

feat: 프론트엔드 구글 소셜 로그인 연동, 백엔드와 연결 필요
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/auth.ts
  frontend/src/app/auth/Signup.tsx
  frontend/src/app/layout.tsx
Due: Build FE, Deploy FE with Compose

feat : 카테고리 데이터 추가
  frontend/src/api/category.ts
  frontend/src/api/hooks/useCategoryQueries.ts
  frontend/src/app/create/funding/components/MovieInfoTab.tsx
  frontend/src/types/category.ts
Due: Build FE, Deploy FE with Compose

feat: 페이지 ui
  frontend/src/app/category/Category.tsx
  frontend/src/app/search/Search.tsx
  frontend/src/app/search/page.tsx
  frontend/src/app/vote/page.tsx
Due: Build FE, Deploy FE with Compose

feat: 결제 성공/실패에 대한 스케줄러 구현
  backend/src/main/java/io/ssafy/cinemoa/global/enums/ResourceCode.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/InternalServerException.java
  backend/src/main/java/io/ssafy/cinemoa/payment/repository/FundingTransactionRepository.java
  backend/src/main/java/io/ssafy/cinemoa/payment/repository/UserTransactionRepository.java
  backend/src/main/java/io/ssafy/cinemoa/payment/service/FundingSchedulerService.java
Due: Build BE, Deploy BE with Compose

feat: 카테고리 버튼 ui 수정
  frontend/src/components/buttons/CategoryButton.tsx
  frontend/src/components/filters/CategoryButtonGroup.tsx
  frontend/src/constants/categories.ts
Due: Build FE, Deploy FE with Compose

feat: category, vote, search 페이지 컴포넌트 생성
  frontend/src/components/filters/CategorySelectSection.tsx
  frontend/src/components/filters/RegionFilterPanel.tsx
  frontend/src/components/filters/SortBar.tsx
  frontend/src/components/filters/SubCategoryChips.tsx
  frontend/src/components/filters/TheaterTypeFilterPanel.tsx
  frontend/src/components/layouts/ListShell.tsx
  frontend/src/components/lists/ResponsiveCardList.tsx
Due: Build FE, Deploy FE with Compose

feat: package, radio-group, 지역-상영관, 카테고리 네비용 유틸함수
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/radio-group.tsx
  frontend/src/constants/regions.ts
  frontend/src/utils/categoryNavigation.ts
Due: Build FE, Deploy FE with Compose

feat: 백엔드 api의 categoryId 시스템과 호환되게 수정
  frontend/src/app/category/Category.tsx
  frontend/src/app/search/Search.tsx
  frontend/src/app/vote/Vote.tsx
Due: Build FE, Deploy FE with Compose

feat: 펀딩 인기/추천 순 정렬 추가
  backend/src/main/java/io/ssafy/cinemoa/funding/controller/FundingController.java
  backend/src/main/java/io/ssafy/cinemoa/funding/controller/SearchController.java
  backend/src/main/java/io/ssafy/cinemoa/funding/controller/VoteController.java
  backend/src/main/java/io/ssafy/cinemoa/funding/dto/FundingCreationResult.java
  backend/src/main/java/io/ssafy/cinemoa/funding/dto/SearchRequest.java
  backend/src/main/java/io/ssafy/cinemoa/funding/enums/FundingSortOrder.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/FundingFilterRepository.java
  backend/src/main/java/io/ssafy/cinemoa/funding/service/FundingService.java
  backend/src/main/java/io/ssafy/cinemoa/funding/service/SearchService.java
Due: Build BE, Deploy BE with Compose

feat : 펀딩 만들기 API 연동
  frontend/src/api/category.ts
  frontend/src/app/create/funding/components/MovieInfoTab.tsx
  frontend/src/app/create/funding/components/TheaterInfoTab.tsx
  frontend/src/app/create/funding/page.tsx
Due: Build FE, Deploy FE with Compose

feat: 둘러보기페이지 라우팅 원위치시킴
  frontend/src/app/category/Category.tsx
  frontend/src/app/category/page.tsx
  frontend/src/constants/categories.ts
Due: Build FE, Deploy FE with Compose

feat: 회원가입 시 1원 인증 해시값 검증 로직 작성
  backend/src/main/java/io/ssafy/cinemoa/user/dto/UserAdditionalInfoRequest.java
  backend/src/main/java/io/ssafy/cinemoa/user/service/UserAdditionalInfoService.java
  backend/src/main/java/io/ssafy/cinemoa/user/service/WonAuthService.java
Due: Build BE, Deploy BE with Compose

fix: api base url .env.local 통일
  frontend/src/api/auth.ts
Due: Build FE, Deploy FE with Compose

feat: 구글 id_token 디코더 추가, 소셜 로그인 후 로그인/회원가입 처리 구현 완료 (아직 미완)
  backend/build.gradle
  backend/src/main/java/io/ssafy/cinemoa/auth/controller/GoogleAuthController.java
  backend/src/main/java/io/ssafy/cinemoa/auth/dto/GoogleAuthResponse.java
  backend/src/main/java/io/ssafy/cinemoa/auth/dto/IdTokenClaims.java
  backend/src/main/java/io/ssafy/cinemoa/auth/dto/IdTokenVerifyRequest.java
  backend/src/main/java/io/ssafy/cinemoa/auth/dto/IdTokenVerifyResponse.java
  backend/src/main/java/io/ssafy/cinemoa/auth/service/GoogleAuthFacadeService.java
  backend/src/main/java/io/ssafy/cinemoa/auth/service/GoogleIdTokenDecoderService.java
  backend/src/main/java/io/ssafy/cinemoa/auth/service/GoogleLoginService.java
  backend/src/main/java/io/ssafy/cinemoa/auth/service/GoogleSignupService.java
  backend/src/main/java/io/ssafy/cinemoa/auth/service/SocialAuthService.java
  backend/src/main/java/io/ssafy/cinemoa/global/enums/ResourceCode.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/BadRequestException.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/UserRepository.java
Due: Build BE, Deploy BE with Compose

feat : 펀딩 생성 화면 완성
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/category/Category.tsx
  frontend/src/app/category/page.tsx
  frontend/src/app/create/funding/components/FundingInfoTab.tsx
  frontend/src/app/create/funding/components/MovieInfoTab.tsx
  frontend/src/app/create/funding/components/TheaterInfoTab.tsx
  frontend/src/components/calenderdemo.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/stores/fundingStore.ts
  frontend/src/types/funding.ts
Due: Build FE, Deploy FE with Compose

feat: 마이페이지 프로필 api 연결, 디자인은 예전꺼로 할까 고민 중
  frontend/src/api/mypage.ts
  frontend/src/app/mypage/MyPage.tsx
  frontend/src/types/mypage.ts
Due: Build FE, Deploy FE with Compose

feat: 소셜 로그인 구현
  backend/build.gradle
  backend/src/main/java/io/ssafy/cinemoa/global/config/WebConfig.java
  backend/src/main/java/io/ssafy/cinemoa/security/config/SecurityConfig.java
  backend/src/main/java/io/ssafy/cinemoa/security/constants/GoogleOAuthInfoConstants.java
  backend/src/main/java/io/ssafy/cinemoa/security/dto/AnonymousUserInfo.java
  backend/src/main/java/io/ssafy/cinemoa/security/dto/LoginResponseDto.java
  backend/src/main/java/io/ssafy/cinemoa/security/dto/OAuthTokenVerifyDto.java
  backend/src/main/java/io/ssafy/cinemoa/security/dto/OIDCDecodePayload.java
  backend/src/main/java/io/ssafy/cinemoa/security/dto/OIDCPublicKeysResponse.java
  backend/src/main/java/io/ssafy/cinemoa/security/entity/CustomUserDetails.java
  backend/src/main/java/io/ssafy/cinemoa/security/enums/Role.java
  backend/src/main/java/io/ssafy/cinemoa/security/filter/OAuthTokenFilter.java
  backend/src/main/java/io/ssafy/cinemoa/security/handler/CustomAccessDeniedHandler.java
  backend/src/main/java/io/ssafy/cinemoa/security/handler/CustomAuthenticationEntryPoint.java
  backend/src/main/java/io/ssafy/cinemoa/security/handler/CustomLogoutSuccessHandler.java
  backend/src/main/java/io/ssafy/cinemoa/security/helper/GoogleOAuthHelper.java
  backend/src/main/java/io/ssafy/cinemoa/security/helper/OAuthOIDCHelper.java
  backend/src/main/java/io/ssafy/cinemoa/security/provider/GooglePublicKeyProvider.java
  backend/src/main/java/io/ssafy/cinemoa/security/provider/JwtOIDCProvider.java
  backend/src/main/java/io/ssafy/cinemoa/security/service/CustomUserDetailsService.java
  backend/src/main/java/io/ssafy/cinemoa/security/service/OAuthUserService.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/UserRepository.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/entity/User.java
  backend/src/main/java/io/ssafy/cinemoa/user/service/UserService.java
Due: Build BE, Deploy BE with Compose

refact : 펀딩 생성 페이지 api 구조 변경
  frontend/src/app/create/funding/components/FundingInfoTab.tsx
  frontend/src/app/create/funding/components/MovieInfoTab.tsx
  frontend/src/app/create/funding/components/PaymentTab.tsx
  frontend/src/app/create/funding/components/TheaterInfoTab.tsx
  frontend/src/app/create/funding/page.tsx
  frontend/src/app/vote/Vote.tsx
  frontend/src/app/vote/page.tsx
Due: Build FE, Deploy FE with Compose

refactor: 요구사항에 맞게 조정
  backend/src/main/java/io/ssafy/cinemoa/funding/controller/FundingController.java
  backend/src/main/java/io/ssafy/cinemoa/funding/controller/VoteController.java
  backend/src/main/java/io/ssafy/cinemoa/funding/dto/SearchRequest.java
  backend/src/main/java/io/ssafy/cinemoa/funding/dto/VoteCreateRequest.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/FundingFilterRepository.java
  backend/src/main/java/io/ssafy/cinemoa/funding/service/FundingService.java
  backend/src/main/java/io/ssafy/cinemoa/user/controller/UserAdditionalInfoController.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/UserAdditionalInfoRequest.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/UserResponseDto.java
Due: Build BE, Deploy BE with Compose

feat : 투표 생성 페이지 추가
  frontend/src/app/create/Create.tsx
  frontend/src/app/create/funding/component/FundingInfoTab.tsx
  frontend/src/app/create/funding/component/MovieInfoTab.tsx
  frontend/src/app/create/funding/component/PaymentTab.tsx
  frontend/src/app/create/funding/component/TheaterInfoTab.tsx
  frontend/src/app/create/funding/page.tsx
  frontend/src/app/create/vote/component/VoteFundingInfoTab.tsx
  frontend/src/app/create/vote/component/VoteMovieInfoTab.tsx
  frontend/src/app/create/vote/component/VoteTheaterInfoTab.tsx
  frontend/src/app/create/vote/page.tsx
Due: Build FE, Deploy FE with Compose

fix: Mypage 닉네임 2열 되는 것 방지
  frontend/src/app/mypage/MyPage.tsx
Due: Build FE, Deploy FE with Compose

refact : 충돌해결
  frontend/src/app/category/Category.tsx
Due: Build FE, Deploy FE with Compose

S13 p21 a110 101 fe 마이페이지 프로필 api 연결
  frontend/src/api/mypage.ts
  frontend/src/app/mypage/MyPage.tsx
  frontend/src/types/mypage.ts
Due: Build FE, Deploy FE with Compose

fix: 소셜 로그인 f>b url 수정
  frontend/src/api/auth.ts
Due: Build FE, Deploy FE with Compose

remove: 미사용 credential 삭제
  Jenkinsfile
Due: No relevant changes on main

Jenkinsfile 수정
  Jenkinsfile
Due: No relevant changes on main

feat: 빌드 결과물 타입 변경
  frontend/next.config.ts
Due: Build FE, Deploy FE with Compose

Path conditions:
  Build BE: any of: backend/**
  Deploy BE with Compose: any of: backend/**
  Build FE: any of: frontend/**
  Deploy FE with Compose: any of: frontend/**
  No relevant changes on main: not ((any of: frontend/**) or (any of: backend/**))
