Repository daeyeon-lee/Cinemoa: changes, and which Jenkins stages are due for each by the changed paths.
All: Build BE, Deploy BE with Compose, Build FE, Deploy FE with Compose, No relevant changes on main

Path conditions:
  Build BE: any of: backend/**
  Deploy BE with Compose: any of: backend/**
  Build FE: any of: frontend/**
  Deploy FE with Compose: any of: frontend/**
  No relevant changes on main: not ((any of: frontend/**) or (any of: backend/**))

refactor: 기존 브랜치 전략으로 복구
  Jenkinsfile
Due: No relevant changes on main

feat: 최초 프로젝트 생성
  backend/.gitattributes
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/io/ssafy/cinemoa/CinemoaApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/io/ssafy/cinemoa/CinemoaApplicationTests.java
Due: Build BE, Deploy BE with Compose

feat: Entity 생성
  backend/src/main/java/io/ssafy/cinemoa/CinemoaApplication.java
  backend/src/main/java/io/ssafy/cinemoa/category/repository/entity/Category.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/repository/entity/Cinema.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/repository/entity/Screen.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/repository/entity/ScreenUnavailableTime.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/Funding.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/FundingCategory.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/FundingCategoryId.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/FundingEstimatedDay.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/FundingStat.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/FundingState.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/FundingType.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/Participation.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/ParticipationId.java
  backend/src/main/java/io/ssafy/cinemoa/funding/repository/entity/ParticipationState.java
  backend/src/main/java/io/ssafy/cinemoa/global/repository/entity/BaseTimeEntity.java
  backend/src/main/java/io/ssafy/cinemoa/payment/repository/entity/Transaction.java
  backend/src/main/java/io/ssafy/cinemoa/payment/repository/entity/TransactionState.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/entity/Card.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/entity/User.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/entity/UserCategory.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/entity/UserCategoryId.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/entity/UserFavorite.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/entity/UserFavoriteId.java
Due: Build BE, Deploy BE with Compose

style: banner.txt 추가
  backend/src/main/resources/banner.txt
Due: Build BE, Deploy BE with Compose

refactor: 설정 커밋하지 않도록 변경
  backend/.gitignore
  backend/src/main/resources/application.properties
Due: Build BE, Deploy BE with Compose

feat: 오류 메시지 및 응답 메시지 구현
  backend/src/main/java/io/ssafy/cinemoa/global/controller/ExceptionControllerAdvice.java
  backend/src/main/java/io/ssafy/cinemoa/global/enums/ResourceCode.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/BadRequestException.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/BaseException.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/InternalServerException.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/NoAuthorityException.java
  backend/src/main/java/io/ssafy/cinemoa/global/exception/ResourceNotFoundException.java
  backend/src/main/java/io/ssafy/cinemoa/global/response/ApiResponse.java
  backend/src/main/java/io/ssafy/cinemoa/global/response/ResponseState.java
Due: Build BE, Deploy BE with Compose

feat: 예시 Cinema API 추가
  backend/src/main/java/io/ssafy/cinemoa/cinema/controller/CinemaController.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/dto/BriefCinemaInfoDto.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/dto/CinemaInfoDto.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/dto/ScreenInfoDto.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/repository/CinemaRepository.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/repository/ScreenRepository.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/service/CinemaService.java
Due: Build BE, Deploy BE with Compose

doc: banner.txt 업데이트
  backend/src/main/resources/banner.txt
Due: Build BE, Deploy BE with Compose

feat: 상영관 상세 정보 API 구현
  backend/src/main/java/io/ssafy/cinemoa/cinema/controller/CinemaController.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/controller/ScreenController.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/dto/BriefScreenInfoDto.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/dto/CinemaInfoDto.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/repository/ScreenUnavailableTimeRepository.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/service/CinemaService.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/service/ScreenService.java
Due: Build BE, Deploy BE with Compose

refactor: 추가적 예외 처리하도록 변경
  backend/src/main/java/io/ssafy/cinemoa/global/controller/ExceptionControllerAdvice.java
Due: Build BE, Deploy BE with Compose

feat: 일반 상영관 필터링 추가
  backend/src/main/java/io/ssafy/cinemoa/cinema/controller/CinemaController.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/enums/CinemaFeature.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/repository/CinemaRepository.java
  backend/src/main/java/io/ssafy/cinemoa/cinema/service/CinemaService.java
Due: Build BE, Deploy BE with Compose

feat : f/dev 브랜치 생성
  frontend/readme.md
Due: Build FE, Deploy FE with Compose

feat : Next.js 프로젝트 생성
  frontend/.gitignore
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/public/cinemoa_logo_long.png
  frontend/public/cinemoa_logo_short.png
  frontend/readme.md
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
Due: Build FE, Deploy FE with Compose

fix: Jenkinsfile 수정
  Jenkinsfile
Due: No relevant changes on main

feat: 인프라 관련 설정 추가
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/io/ssafy/cinemoa/global/config/ElasticConfig.java
  backend/src/main/java/io/ssafy/cinemoa/global/config/RedisConfig.java
Due: Build BE, Deploy BE with Compose

feat : 레이아웃 및 navbar 추가
  frontend/public/cinemoa_logo_long_white.png
  frontend/public/google_login_logo.png
  frontend/src/app/auth/Signup.tsx
  frontend/src/app/auth/page.tsx
  frontend/src/app/category/Category.tsx
  frontend/src/app/category/page.tsx
  frontend/src/app/create/Create.tsx
  frontend/src/app/create/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/vote/Vote.tsx
  frontend/src/app/vote/page.tsx
  frontend/src/component/icon/searchIcon.tsx
  frontend/src/component/icon/userIcon.tsx
  frontend/src/component/nav/navbar.tsx
  frontend/src/router/index.tsx
Due: Build FE, Deploy FE with Compose

docs : 프론트엔드 예상 폴더 구조 추가
  frontend/readme.md
Due: Build FE, Deploy FE with Compose

docs : prettierrc 추가
  frontend/.prettierrc
  frontend/readme.md
Due: Build FE, Deploy FE with Compose

feat : navbar 공통 컴포넌트 추가
  frontend/public/Fabicon.png
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/component/button/button.tsx
  frontend/src/component/nav/navbar.tsx
  frontend/src/component/search/SearchInput.tsx
  frontend/tailwind.config.js
Due: Build FE, Deploy FE with Compose

refact : navbar 수정
  frontend/src/app/page.tsx
  frontend/src/component/nav/navbar.tsx
Due: Build FE, Deploy FE with Compose

refact : 네비게이션 바 수정
  frontend/public/login_icon.png
  frontend/src/app/auth/Signup.tsx
  frontend/src/app/category/Category.tsx
  frontend/src/app/create/Create.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/vote/Vote.tsx
  frontend/src/component/button/button.tsx
  frontend/src/component/nav/navbar.tsx
  frontend/src/component/search/SearchInput.tsx
  frontend/src/router/index.tsx
  frontend/tailwind.config.js
Due: Build FE, Deploy FE with Compose

style : 색깔 컴포넌트 추가
  frontend/tailwind.config.js
Due: Build FE, Deploy FE with Compose

feat : auth 페이지 준비
  frontend/src/app/auth/Signup.tsx
  frontend/src/app/auth/info/page.tsx
  frontend/src/component/nav/navbar.tsx
Due: Build FE, Deploy FE with Compose

style : 폰트 컴포넌트 추가
  frontend/tailwind.config.js
Due: Build FE, Deploy FE with Compose

feat : 버튼 컴포넌트 추가
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/auth/info/page.tsx
  frontend/src/app/globals.css
  frontend/src/component/button/button.tsx
  frontend/src/component/nav/navbar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/lib/utils.ts
  frontend/tailwind.config.js
Due: Build FE, Deploy FE with Compose

feat: shadcn 카드컴포넌트 다운
  frontend/src/components/ui/card.tsx
Due: Build FE, Deploy FE with Compose

init: 회원정보조회 기능 추가
  backend/src/main/java/io/ssafy/cinemoa/user/controller/UserController.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/UserResponseDto.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/UserRepository.java
  backend/src/main/java/io/ssafy/cinemoa/user/service/UserService.java
Due: Build BE, Deploy BE with Compose

feat : 인증 페이지 추가
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.png
  frontend/src/app/auth/info/page.tsx
  frontend/src/app/auth/info/step1/page.tsx
  frontend/src/app/auth/info/step2/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/component/button/button.tsx
  frontend/src/component/nav/navbar.tsx
  frontend/src/component/search/SearchInput.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/lib/utils.ts
  frontend/tailwind.config.js
Due: Build FE, Deploy FE with Compose

refact : navbar 수정
  frontend/src/app/payment/Payment.tsx
  frontend/src/app/payment/page.tsx
  frontend/src/component/nav/navbar.tsx
  frontend/src/component/search/SearchInput.tsx
Due: Build FE, Deploy FE with Compose

feat : 결제 페이지 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/payment/Payment.tsx
  frontend/src/app/payment/page.tsx
  frontend/src/component/icon/success_check_icon.tsx
  frontend/src/component/nav/navbar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
Due: Build FE, Deploy FE with Compose

feat : 결제 페이지 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/payment/Payment.tsx
  frontend/src/app/payment/page.tsx
  frontend/src/component/icon/success_check_icon.tsx
  frontend/src/component/nav/navbar.tsx
  frontend/src/component/search/SearchInput.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
Due: Build FE, Deploy FE with Compose

feat: 세로형 카드 ui
  frontend/public/claude참고용/fundingcard.png
  frontend/public/claude참고용/votecard.png
  frontend/public/images/image.png
  frontend/src/app/dev/cine-preview/page.tsx
  frontend/src/components/cards/CineCard.tsx
  frontend/src/components/cards/blocks/FundingBlock.tsx
  frontend/src/components/cards/blocks/VoteBlock.tsx
  frontend/src/components/cards/index.ts
  frontend/src/components/cards/primitives/BarcodeDecor.tsx
  frontend/src/components/cards/primitives/Media.tsx
  frontend/src/components/cards/primitives/PerforationLine.tsx
  frontend/src/components/cards/primitives/Progress.tsx
  frontend/src/components/icons/HeartIcon.tsx
  frontend/src/components/ui/card.tsx
Due: Build FE, Deploy FE with Compose

add: shadcn에서 설치한 컴포넌트
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/skeleton.tsx
Due: Build FE, Deploy FE with Compose

refactor: TransactionState 파일 이동
  .gitignore
  backend/src/main/java/io/ssafy/cinemoa/payment/enums/TransactionState.java
Due: Build BE, Deploy BE with Compose

feat: 금융망 API 연동 모듈 구현
  backend/src/main/java/io/ssafy/cinemoa/external/finance/Client/CardApiClient.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/config/FinanceApiConfig.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/config/RestTemplateConfig.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/BaseApiResponse.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/CreditCardTransactionRequest.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/CreditCardTransactionResponse.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/ReqHeader.java
  backend/src/main/java/io/ssafy/cinemoa/external/finance/dto/ResHeader.java
  backend/src/main/java/io/ssafy/cinemoa/payment/repository/entity/Transaction.java
Due: Build BE, Deploy BE with Compose

feat: 내가 제안한 목록 조회 API 1차 구현(user에 있음, cinema 정보는 아직 추가 안 함)
  backend/src/main/java/io/ssafy/cinemoa/user/controller/UserSuggestedController.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/FundingInfoDto.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/FundingStatDto.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/MetadataDto.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/PaginationDto.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/ParticipationDto.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/ProposerDto.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/ScreeningDto.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/SuggestedProjectItemDto.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/SuggestedProjectListResponse.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/FundingCategoryRepository.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/FundingRepository.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/UserFavoriteRepository.java
  backend/src/main/java/io/ssafy/cinemoa/user/service/UserSuggestedService.java
Due: Build BE, Deploy BE with Compose

feat: 추가정보 입력 api 구현(테스트 완료, 아직 코드 검토 완료 전)
  backend/src/main/java/io/ssafy/cinemoa/category/repository/CategoryRepository.java
  backend/src/main/java/io/ssafy/cinemoa/user/controller/UserAdditionalInfoController.java
  backend/src/main/java/io/ssafy/cinemoa/user/dto/UserAdditionalInfoRequest.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/UserCategoryRepository.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/entity/User.java
  backend/src/main/java/io/ssafy/cinemoa/user/repository/entity/UserCategoryId.java
  backend/src/main/java/io/ssafy/cinemoa/user/service/UserAdditionalInfoService.java
Due: Build BE, Deploy BE with Compose

refact : 결제 모달 수정
  frontend/src/app/payment/Payment.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
Due: Build FE, Deploy FE with Compose

feat : 유효성 검사 util 함수 추가
  frontend/src/app/payment/Payment.tsx
  frontend/src/utils/validation.ts
Due: Build FE, Deploy FE with Compose

feat: 자리 점유 API 구현
  backend/src/main/java/io/ssafy/cinemoa/funding/controller/FundingController.java
  backend/src/main/java/io/ssafy/cinemoa/funding/dto/FundingHoldRequest.java
  backend/src/main/java/io/ssafy/cinemoa/funding/service/FundingService.java
Due: Build BE, Deploy BE with Compose
